extends layout

block content

    header.header

    .leftpanel-div

        #profile-div
            a#profile-picture-link(href="/home")
                img.round-img(src=restaurants[2].img[0] height="100" width="100")

            a(href="/home")
                p.center-p Elias B.
            - var n = 0;
            while n < 3
                span.fav-restaurant-span
                    a.fav-restaurant-link(href="/home")
                        img.round-square-img(src=restaurants[2].img[0] height="50" width="50")
                        .toast.fav-restaurant-toast= n++



        .lunchs-list-div
            - var values = ["Segugu-midi","Segugu-soir","AfterWork"];
            ul
              each val in values
                li
                    a(href="/home")=val


    .lunch-div
        h1= title
        p CARTE D'OR

        each rest in restaurants
            .restaurant-div
                p #{rest.name}
                img(src=rest.img[0] height="42" width="42")
